/* Others */
* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: "Raleway","Helvetica Neue",sans-serif;
  color: #828B90;
  overflow: auto; }

.page-wrapper {
  min-height: 100%;
  margin: 0 auto -120px;
  /* the bottom margin is the negative value of the footer's height */ }

section.slide {
  width: 100%;
  max-width: none;
  padding-top: 20px;
  padding-bottom: 20px; }

.pagination {
  font-size: 14px; }

a {
  color: #828B90;
  transition: all 0.2s ease-in-out 0s;
  /* Default links */
  /* Default buttons */
  /* Context links and buttons */ }
  a:hover {
    color: #333;
    text-decoration: none;
    outline: none; }
  a:focus {
    color: #333;
    text-decoration: none;
    outline: none; }
  a:active {
    color: #333;
    text-decoration: none;
    outline: none; }
  a.btn {
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    font-weight: 700; }
    a.btn:hover {
      color: #333;
      text-decoration: none;
      outline: none; }
    a.btn:focus {
      color: #333;
      text-decoration: none;
      outline: none; }
    a.btn:active {
      color: #333;
      text-decoration: none;
      outline: none; }
  a.link-about {
    color: #9c8481; }
    a.link-about:hover {
      color: #836a67; }
    a.link-about:active {
      color: #665351; }
    a.link-about:focus {
      color: #665351; }
  a.btn-about {
    color: #FFFFFF;
    background-color: #9c8481; }
    a.btn-about:hover {
      color: #FFFFFF;
      background-color: #836a67; }
    a.btn-about:active {
      color: #FFFFFF;
      background-color: #665351; }
    a.btn-about:focus {
      color: #FFFFFF;
      background-color: #665351; }
  a.link-blog {
    color: #98aeb6; }
    a.link-blog:hover {
      color: #7a97a1; }
    a.link-blog:active {
      color: #607d88; }
    a.link-blog:focus {
      color: #607d88; }
  a.btn-blog {
    background-color: #98aeb6;
    color: #FFFFFF; }
    a.btn-blog:hover {
      background-color: #7a97a1;
      color: #FFFFFF; }
    a.btn-blog:active {
      color: #FFFFFF;
      background-color: #607d88; }
    a.btn-blog:focus {
      color: #FFFFFF;
      background-color: #607d88; }
  a.link-shuwee {
    color: #0FA2CE; }
    a.link-shuwee:hover {
      color: #0c7d9e; }
    a.link-shuwee:active {
      color: #08576f; }
    a.link-shuwee:focus {
      color: #08576f; }
  a.btn-shuwee {
    color: #FFFFFF;
    background-color: #0FA2CE; }
    a.btn-shuwee:hover {
      color: #FFFFFF;
      background-color: #0c7d9e; }
    a.btn-shuwee:active {
      color: #FFFFFF;
      background-color: #08576f; }
    a.btn-shuwee:focus {
      color: #FFFFFF;
      background-color: #08576f; }

/* Fonts */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?qkhto4");
  src: url("../fonts/icomoon.eot?qkhto4#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?qkhto4") format("truetype"), url("../fonts/icomoon.woff?qkhto4") format("woff"), url("../fonts/icomoon.svg?qkhto4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-heart:before {
  content: "\e904"; }

.icon-facebook:before {
  content: "\e902"; }

.icon-facebook2:before {
  content: "\e903"; }

.icon-twitter:before {
  content: "\e905"; }

.icon-twitter2:before {
  content: "\e906"; }

.icon-github:before {
  content: "\e900"; }

.icon-github2:before {
  content: "\e908"; }

.icon-github3:before {
  content: "\e909"; }

.icon-github4:before {
  content: "\e90a"; }

.icon-linkedin:before {
  content: "\e901"; }

.icon-linkedin2:before {
  content: "\e90b"; }

/* Components */
.row.feature {
  margin-top: 80px;
  margin-bottom: 80px; }
  .row.feature .description {
    padding: 20px 30px;
    text-align: left; }
  .row.feature figure img {
    max-width: 100%;
    height: auto; }
  .row.feature figure figcaption {
    font-size: 12px;
    text-align: center; }

.loader {
  width: 80px;
  height: 80px;
  margin: 100px auto;
  background-color: #0FA2CE;
  border-radius: 100%; }

#page-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1050;
  background: #fff;
  transition: all 0.5s ease-in-out 0s;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(1);
  -moz-transform: translate(1);
  -ms-transform: translate(1);
  -o-transform: translate(1);
  transform: translate(1); }

.loaded #page-loader {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
  transform: scale(3); }

/**
 * Animations
 */
.loader {
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 0; } }
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
nav.navbar {
  transition: all 0.2s ease-in-out 0s;
  background-color: rgba(0, 0, 0, 0.65); }
  nav.navbar.transparent {
    background-color: rgba(0, 0, 0, 0.25); }
    nav.navbar.transparent .navbar-brand {
      display: none; }
  nav.navbar.nav-hidden {
    top: -55px; }
nav .navbar-toggle .icon-bar {
  background-color: #888; }
nav .navbar-brand {
  font-weight: 500;
  color: #efefef;
  padding: 10px 15px; }
  nav .navbar-brand img {
    max-height: 100%; }
nav .nav > li > a {
  transition: none;
  color: #fff; }
  nav .nav > li > a:hover, nav .nav > li > a:focus {
    background-color: transparent; }
nav .nav > li.active > a {
  font-weight: 700;
  color: #fff;
  text-decoration: underline; }

blockquote {
  border: none;
  text-align: center;
  margin: 0; }
  blockquote footer {
    background-color: transparent;
    text-align: right;
    margin-top: 20px; }

ul.social li.social_item {
  font-size: 22px; }
  ul.social li.social_item span.label {
    display: none; }

.page > header {
  height: 25vh;
  position: relative;
  background-color: #F9F9F9;
  color: #828B90; }
  .page > header.has-image {
    background: transparent no-repeat center center / cover;
    color: #fff;
    height: 30vh; }
    .page > header.has-image h1 {
      text-shadow: 1px 1px 5px #000; }
    .page > header.has-image .subheading {
      text-shadow: 1px 1px 5px #000; }
    .page > header.has-image .overlay {
      position: absolute;
      background-color: #000;
      opacity: 0.4;
      filter: alpha(opacity=40);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1; }
  .page > header .container {
    height: 100%;
    z-index: 5;
    position: relative; }
  .page > header .row {
    height: 100%; }
    .page > header .row > div {
      height: 100%; }
    .page > header .row .header-content-inner {
      position: relative;
      top: 50%;
      transform: translate(0, -50%); }
      .page > header .row .header-content-inner h1 {
        text-align: center;
        margin: 0 auto 10px;
        padding: 0;
        font-size: 42px; }
      .page > header .row .header-content-inner .subheading {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        font-size: 24px; }

body > footer, .footer-push {
  height: 120px; }

body > footer {
  width: 100%;
  background-color: #F5F2F0; }
  body > footer .container {
    padding-top: 40px;
    padding-bottom: 40px; }
    body > footer .container .row {
      line-height: 30px;
      font-size: 14px; }
      body > footer .container .row span.icon-heart {
        color: #E25465; }
      body > footer .container .row .social {
        height: 30px;
        margin-bottom: 0px; }

/* Pages */
body.home .page h1 {
  text-align: center; }
body.home .page .lead {
  text-align: center; }
body.home .page section.slide {
  padding-top: 80px;
  padding-bottom: 80px; }

#about {
  background-color: #FFFFFF;
  text-align: center; }
  #about h1 {
    color: #9c8481; }
  #about ul.social li {
    padding: 50px; }
    #about ul.social li a span.icon {
      font-size: 50px; }

#myself img {
  max-height: 200px;
  max-width: 100%;
  border-radius: 50%;
  border: 1px solid #DDD; }

#blog {
  background-color: #F9F9F9; }
  #blog h1 {
    color: #98aeb6; }
  #blog .row {
    margin-top: 50px;
    margin-bottom: 50px; }
  #blog .post {
    margin-bottom: 15px;
    background-color: #FFFFFF;
    border: 1px solid #dddddd;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08); }
    #blog .post .img-container a {
      height: 200px;
      width: 100%;
      display: block;
      background-color: #efefef;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    #blog .post .meta {
      padding: 15px;
      text-align: right; }
    #blog .post .copy-container {
      padding: 0 15px 15px 15px; }
      #blog .post .copy-container .excerpt {
        min-height: 100px; }
    #blog .post a.link {
      display: block;
      border-top: 1px solid #dddddd;
      padding: 15px;
      font-size: 14px; }
      #blog .post a.link span {
        transition: all 0.3s ease-in-out 0s;
        color: #ffffff;
        padding-left: 0; }
      #blog .post a.link:hover {
        color: #7a97a1; }
        #blog .post a.link:hover span {
          color: #7a97a1;
          padding-left: 5px; }

#hero {
  height: 100vh;
  background: #363636 url(../img/hero.jpg) no-repeat center center/cover; }
  #hero .container {
    height: 100%; }
  #hero .row {
    height: 100%;
    color: #F9F9F9; }
    #hero .row .hero-content-inner {
      position: relative;
      top: 50%;
      transform: translate(0, -50%); }
      #hero .row .hero-content-inner h1 {
        text-align: center;
        margin: 0 auto 10px;
        padding: 0;
        font-size: 42px;
        text-shadow: 1px 1px 5px black; }
      #hero .row .hero-content-inner h2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        font-size: 36px;
        text-shadow: 1px 1px 5px black; }
    #hero .row > div {
      height: 100%; }
      #hero .row > div .actions-wrapper {
        text-align: center;
        margin: 80px 0 40px 0; }

/**
 * Animations
 */
#hero h1,
#hero h2,
#hero a.btn {
  opacity: 0;
  animation-fill-mode: forwards; }
#hero h1 {
  animation-name: bounce-right;
  animation-duration: 0.6s;
  animation-delay: 0.3s; }
#hero h2 {
  animation-name: bounce-left;
  animation-duration: 0.6s;
  animation-delay: 0.3s; }
#hero a.btn {
  animation-name: btn-fade;
  animation-duration: 0.6s;
  animation-delay: 0.7s; }

@keyframes bounce-right {
  0% {
    opacity: .2;
    transform: translateX(-200px); }
  60% {
    opacity: .7;
    transform: translateX(15px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes bounce-left {
  0% {
    opacity: .2;
    transform: translateX(200px); }
  60% {
    opacity: .7;
    transform: translateX(-15px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes btn-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#simplicity {
  background-color: #FFFFFF; }

#shuwee {
  background-color: #F9F9F9; }
  #shuwee h1 {
    color: #0FA2CE; }

.post-details .inner-nav {
  margin-top: 10px;
  font-size: 14px; }
.post-details .post {
  padding-top: 40px;
  padding-bottom: 80px; }
  .post-details .post h1 {
    display: none; }
  .post-details .post .img-container {
    background: #FFFFFF no-repeat scroll center center / contain;
    height: 300px; }
  .post-details .post a {
    color: #98aeb6; }
    .post-details .post a:hover {
      color: #7a97a1; }
    .post-details .post a:active {
      color: #607d88; }
    .post-details .post a:focus {
      color: #607d88; }
  .post-details .post p,
  .post-details .post pre,
  .post-details .post blockquote,
  .post-details .post > div {
    margin-bottom: 20px; }

.post-list section.container {
  padding-top: 40px; }
.post-list article {
  margin-bottom: 40px; }
  .post-list article .meta {
    margin: 10px 0; }
.post-list .pagination > li > a {
  color: #98aeb6; }
.post-list .pagination > .active > span {
  border-color: #98aeb6;
  background-color: #98aeb6; }

body.shuwee {
  background-color: #F9F9F9; }
  body.shuwee section.simplicity {
    background-color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 80px; }
  body.shuwee section.cta {
    text-align: center;
    background-color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 80px; }

/*# sourceMappingURL=styles.css.map */
