{% extends 'base.html.twig' %}

{% block body_class %}post-list{% endblock %}

{% block content %}
    <section class="container">
        {% for post in posts %}
            {% include 'post/teaser.html.twig' with {'post' : post} %}
        {% endfor %}
    </section>
{% endblock %}