*{
  box-sizing: border-box;
}

html{
}

body {
  position: relative;
  font-size: 14px/1.625;
  font-family: "Raleway","Helvetica Neue",sans-serif;
  color: #828B90;
}

a {
  color: #828B90;

  &:hover {
    color: #333;
    text-decoration: none;
  }
  &:focus {
    color: #333;
    text-decoration: none;
  }
  &:active {
    color: #333;
    text-decoration: none;
  }
}

section {
  &.slide {
    width: 100%;
    max-width: none;
    background-color: #FCFCFC;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

/* Utils */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vcenter {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.hcenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}