body {
  &.home {
    .page {
      h1 {
        text-align: center;
      }

      .lead {
        text-align: center;
      }

      section {
        &.slide {
          padding-top: 80px;
          padding-bottom: 80px;
        }
      }
    }
  }
}
