.post-details {

  .inner-nav {
    margin-top: 20px;
    font-size: 14px;
  }

  .post {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 40px;

    h1 {
      display: none;
    }

    .excerpt {
      margin-bottom: 20px;
    }

    .img-container {
      background: #FFFFFF no-repeat scroll center center / contain;
      height: 300px;
    }

    a {
      color: $blog-color;
      &:hover {
        color: darken($blog-color, 10%);
      }
      &:active {
        color: darken($blog-color, 20%);
      }
      &:focus {
        color: darken($blog-color, 20%);
      }
    }

    p,
    pre,
    blockquote,
    > div {
      margin-bottom: 20px;
    }
  }
}
