#hero {
  height: 75vh;

  background: #363636 url(../img/intro_bg_.jpg) no-repeat center center / cover;

  .container {
    height: 100%;
  }

  .row {
    height: 100%;

    > div {
      height: 100%;
      position: relative;
    }
  }

  .overlay {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .4);
    min-height: 100%;
  }
}