{% extends 'js_template/template_base.html.twig' %}

{% block template_name %}post-list{% endblock %}

{% block template_body %}
    <div class="container">
    List
    <a href="#/">Home</a>
    <a href="#/posts">Posts</a>
    <a href="#/posts/composer">Composer</a>
    <a href="#/posts/comment-driven-development">CDD</a>
    <a href="#/posts/respect-function-signatures">Functions</a>
    </div>
{% endblock %}