<script id="post-promoted-item-template" type="text/template">
    <div class="col-md-6 col-lg-4">
        <article class="post">
            <div class="meta">
                <time datetime="<%= _.template.formatDateRFC3339(publishedAt) %>"><%= _.template.formatDateShort(publishedAt) %></time>
            </div>

            <div class="img-container">
                <a class="img" style="background-image:url(http://placehold.it/400x200);" href="#"></a>
            </div>

            <div class="copy-container">
                <div class="copy">
                    <h2><a href="#!/post/1"><%= title %></a></h2>

                    <div class="excerpt">
                        <%= summary %>
                    </div>
                </div>
            </div>
            <a class="link" href="#!/post/<%= slug %>">Read more <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </article>
    </div>
</script>