{% extends 'js_template/template_base.html.twig' %}

{% block template_name %}post-teaser{% endblock %}

{% block template_body %}
    <article class="post">
        <div class="meta">
            <time datetime="<%= _.template.formatDateRFC3339(publishedAt) %>"><%= _.template.formatDateShort(publishedAt) %></time>
        </div>
        <div class="img-container">
            <a class="img" style="background-image:url(http://placehold.it/400x200);" href="#/posts/<%= slug %>"></a>
        </div>
        <div class="copy-container">
            <div class="copy">
                <h2><a href="#/posts/<%= slug %>"><%= title %></a></h2>
                <div class="excerpt">
                    <%= summary %>
                </div>
            </div>
        </div>
        <a class="link" href="#/posts/<%= slug %>">Read more <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </article>
{% endblock %}