#about {
  background-color: #FFFFFF;

  text-align: center;

  height: 1000px;
}

#myself {
  img {
    max-height: 200px;
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid #DDD;
  }
}