#shuwee {
  background-color: #F9F9F9;

  text-align: center;

  .row {
    &.feature {
      margin-top: 30px;
      margin-bottom: 30px;

      .description {
        padding: 20px 30px;
        text-align: left;
      }

      figure {
        img {
          max-width: 100%;
          height: auto;
        }

        figcaption {
          font-size: 12px;
        }
      }
    }

  }
}