#about {
  background-color: #FFFFFF;
  text-align: center;

  ul.social {
    li {
      padding: 50px;
      a {
        &:hover {
          color: darken(#0FA2CE, 10%);
        }

        span.icon {
          font-size: 50px;
        }
      }
    }
  }

}

#myself {
  img {
    max-height: 200px;
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid #DDD;
  }
}
