#about {
  background-color: #FFFFFF;
  text-align: center;

  h1 {
    color: $about-color;
  }

  ul.social {
    li {
      padding: 50px;
      a {
        span.icon {
          font-size: 50px;
        }
      }
    }
  }

}

#myself {
  img {
    max-height: 200px;
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid #DDD;
  }
}
