#simplicity {
  background-color: #FFFFFF;

  blockquote {
    border: none;
    text-align: center;
    margin: 0;

    footer {
      background-color: transparent;
      text-align: right;
      margin-top: 20px;
    }
  }
}