.post-details {

  .post {
    padding-top: 40px;
    padding-bottom: 80px;

    h1 {
      display: none;
    }

    .img-container {
      background: #FFFFFF no-repeat scroll center center / contain;
      height: 300px;
    }

    p,
    pre,
    blockquote,
    > div {
      margin-bottom: 20px;
    }
  }
}
