<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                Made with <span class="icon icon-heart" alt="passion"></span> by <a class="page-scroll link-about" href="{{ path('homepage') }}#about">Wanjee</a>.
            </div>
            <div class="col-xs-6 col-sm-6 text-right">
                {% include 'partial/social.html.twig' %}
            </div>
        </div>
    </div>
</footer>
