<ul class="social list-inline">
    <!-- Github -->
    <li class="social_item">
        <a href="https://github.com/wanjee" title="Github account" target="_blank" class="link-about">
            <span class="icon icon-github"></span>
            <span class="label">Github</span>
        </a>
    </li>
    <!-- LinkedIn -->
    <li class="social_item">
        <a href="http://be.linkedin.com/in/wanjee" title="LinkedIn account" target="_blank" class="link-about">
            <span class="icon icon-linkedin"></span>
            <span class="label">LinkedIn</span>
        </a>
    </li>
</ul>
