body > footer, .footer-push {
  height: 120px; // Positive value of the .page-wrapper bottom margin
}

body > footer {
  width: 100%;
  background-color: #F5F2F0;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    .row {
      line-height: 30px;
      font-size: 14px;

      span.icon-heart {
        color: #E25465;
      }

      .social {
        height: 30px;
        margin-bottom: 0px;
      }
    }

  }
}
