.page > header {
  height: 25vh;
  position: relative;

  background-color: #F9F9F9;
  color: #828B90;

  &.has-image {
    background: transparent no-repeat center center / cover;
    color: #fff;
    height: 30vh;

    .overlay {
      position: absolute;
      background-color: #000;
      opacity: 0.4;
      filter: alpha(opacity=40);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }

  .container {
    height: 100%;
    z-index: 5;
    position: relative;
  }

  .row {
    height: 100%;

    > div {
      height: 100%;
    }

    .header-content-inner {
      position: relative;
      top: 50%;
      transform: translate(0, -50%);

      h1 {
        text-align: center;
        margin: 0 auto 10px;
        padding: 0;
        font-size: 42px;
      }

      .subheading {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        font-size: 24px;
      }
    }
  }
}
