nav {
  &.navbar {
    transition: all 0.2s ease-in-out 0s;

    background-color: rgba(0, 0, 0, 0.7);

    &.transparent {
      background: none;

      .navbar-brand {
        display: none;
      }
    }

    &.nav-visible {
    }

    &.nav-hidden {
      top: -55px;
    }
  }

  .navbar-toggle {

    .icon-bar {
      background-color: #888;
    }
  }

  .navbar-brand {
    font-weight: 500;
    color: #efefef;
  }

  .nav {
    > li {
      > a {
        font-weight: 600;
        &:hover, &:focus {
          background-color: transparent;
          text-decoration: underline;
        }
      }

      &.active {
        > a {
          color: #fff;
        }
      }
    }
  }
}