{% extends 'base.html.twig' %}

{% block body_class %}home{% endblock %}

{% block content %}
    <header id="hero" data-navbar-style="hero">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="hero-content-inner">
                        <h1>Wanjee</h1>
                        <h2>Web artisan</h2>
                        <div class="actions-wrapper">
                            <a class="btn btn-about" href="#about" target="_self">Get to know me</a>
                            <a class="btn btn-blog" href="#blog" target="_self">Blog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="slide" id="about">
        <div class="container">
            <figure id="myself">
                <img src="{{ asset('img/avatar.jpg') }}" alt="Me, Myself and I">
            </figure>
            <h1>Wanjee</h1>

            <div class="lead">
                <p>
                    PHP developer, working mostly with <a href="http://symfony.com/">Symfony</a><br>
                    Technical expert at <a href="http://www.emakina.be/">Emakina.be</a> for PHP technologies<br>
                </p>

                <p>
                    Curious developer. PHP evangelist. Symfony2 fan.<br>
                    Best practices guru. Team player. Open source enthousiast.<br>
                </p>
            </div>
            {% include 'partial/social.html.twig' %}
        </div>
    </section>

    <section class="slide" id="blog">
        <div class="container">
            <h1>To quality and beyond</h1>

            <div class="lead">Quality focused small posts about PHP projects (Symfony, Drupal) and web development best
                practices in general.
            </div>
            <div id="post-promoted" class="row">
                {% for post in posts %}
                    <div class="col-md-6 col-lg-4">
                        {% include 'post/teaser.html.twig' with {'post' : post} %}
                    </div>
                {% endfor %}
            </div>
            <p class="text-center">
                <a class="btn btn-blog" href="{{ path('posts_index') }}">See all posts</a>
            </p>
        </div>
    </section>

    <section class="slide" id="shuwee">
        <div class="container">
            <h1>Shuwee</h1>

            <div class="lead">
                The name comes from a Lakota word : čhuwí. It is defined as the upper back of the body.<br>
                Shuwee is aimed to manage website data in a <abbr title="Keep it simple, stupid">KISS</abbr> way.
            </div>

            {% for block in blocks %}
                {% include 'block/teaser.html.twig' with {'block' : block, 'text_position' : cycle(['right', 'left'], loop.index0)} %}
            {% endfor %}

            <p class="text-center">
                <a class="btn btn-shuwee" href="{{ path('shuwee') }}">Discover Shuwee</a>
            </p>
        </div>
    </section>

    <section class="slide" id="simplicity">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <blockquote>
                        <p>Nature is pleased with simplicity. And nature is no dummy.</p>
                        <footer>Isaac Newton</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
