{% extends 'base.html.twig' %}

{% block content %}
    <section class="slide" id="hero" data-navbar-style="hero">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="vcenter hero-content-inner">
                        <h1>Wanjee</h1>
                        <h2>Web artisan</h2>
                        <div class="actions-wrapper">
                            <a class="btn btn-primary" href="#blog" target="_self">Blog</a>
                            <a class="btn btn-success" href="#about" target="_self">Get to know me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slide container-fluid" id="blog">
        <div class="container">
            <h1>To quality and beyond</h1>

            <div class="lead">Quality focused small posts about PHP projects (Symfony, Drupal) and web development best
                practices in general.
            </div>
            <div id="post-promoted" class="row">
                {% for post in posts %}
                    {% include 'post/promoted.html.twig' with {'post' : post} %}
                {% endfor %}
            </div>
            <p class="text-center">
                <a class="btn btn-primary" href="#/posts">See all posts</a>
            </p>
        </div>
    </section>

    <section class="slide" id="about">
        <div class="container">
            <figure id="myself">
                <img src="{{ asset('img/avatar.jpg') }}" alt="Me, Myself and I">
            </figure>
            <h1>Wanjee</h1>

            <div class="lead">
                <p>
                    PHP developer, working mostly with <a href="http://symfony.com/">Symfony</a><br>
                    Technical expert at <a href="http://www.emakina.be/">Emakina.be</a> for PHP technologies<br>
                </p>

                <p>
                    Curious developer. PHP evangelist. Symfony2 fan.<br>
                    Best practices guru. Team player. Open source enthousiast.<br>
                </p>
            </div>
            {% include 'partial/social.html.twig' %}
        </div>
    </section>

    <section class="slide" id="shuwee">
        <div class="container">
            <h1>Shuwee</h1>

            <div class="lead">
                The name comes from a Lakota word : čhuwí. It is defined as the upper back of the body.<br>
                Shuwee is aimed to manage website data in a <abbr title="Keep it simple, stupid">KISS</abbr> way.
            </div>

            <div class="row feature">
                <div class="col-xs-12 col-md-6 description">
                    <h2>Stupidly simple !</h2>
                    <p>
                        An simple <abbr title="User Interface">UI</abbr> helps users focus on tasks they need to accomplish.
                        That's why Shuwee focus only on the most common tasks.
                    </p>
                    <p>
                        The more simplicity, the more efficiency.
                    </p>

                </div>
                <figure class="col-xs-12 col-md-6">
                    <img src="http://placehold.it/670x380">
                    <figcaption class="figure-caption">Clean content overview</figcaption>
                </figure>
            </div>
            <div class="row feature">
                <div class="col-xs-12 col-md-6 col-md-push-6 description">
                    <h2>What's in the box ?</h2>

                    <h3>Efficiency</h3>
                    <p>
                        <abbr title="Create, Read, Update, Delete">CRUD</abbr> operations,
                        datagrid,
                        backend authors permissions management,
                        to the point design
                        ...
                    </p>
                    <h3>Sweetness</h3>
                    <p>
                        Form widgets (Help text, markdown editor,...),
                        Clean and light <abbr title="User Interface">UI</abbr>,
                        Responsive design,
                        Open Source,
                        brandable
                        ...
                    </p>
                </div>
                <figure class="col-xs-12 col-md-6 col-md-pull-6">
                    <img src="http://placehold.it/670x380">
                    <figcaption class="figure-caption">Comprehensive forms</figcaption>
                </figure>
            </div>

            <p class="text-center">
                <a class="btn btn-primary" href="#/shuwee">Discover Shuwee</a>
            </p>
        </div>
    </section>

    <section class="slide" id="simplicity">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <blockquote>
                        <p>Nature is pleased with simplicity. And nature is no dummy.</p>
                        <footer>Isaac Newton</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

{% endblock %}