{% extends 'base.html.twig' %}

{% block body_class %}shuwee{% endblock %}

{% block content %}
    {% set header_vars = {
        title: 'Shuwee',
        subheading: 'Stupidly simple administration for Symfony.',
        image: asset('img/shuwee.jpg')
    } %}

    {% include 'partial/header.html.twig' with header_vars %}

    <section class="slide promoted">
        <div class="container">
            {% for block in blocks if block.promoted %}
                {% include 'block/teaser.html.twig' with {'block' : block, 'text_position' : cycle(['right', 'left'], loop.index0)} %}
            {% endfor %}
        </div>
    </section>

    <section class="slide simplicity">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <blockquote>
                        <p>Simplicity is about subtracting the obvious and adding the meaningful.</p>
                        <footer>John Maeda</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

    <section class="slide not-promoted">
        <div class="container">
            {% for block in blocks if not block.promoted %}
                {% include 'block/teaser.html.twig' with {'block' : block, 'text_position' : cycle(['right', 'left'], loop.index0)} %}
            {% endfor %}
        </div>
    </section>

    <section class="slide cta">
        <div class="container">
            <div class="actions-wrapper">
                <a class="btn btn-shuwee" href="https://github.com/wanjee/ShuweeAdminBundle" target="_self"><span class="icon icon-github"></span> View on Github</a>
                <a class="btn btn-shuwee" href="https://github.com/wanjee/ShuweeAdminBundle/blob/master/doc/index.md" target="_self"><span class="icon icon-github"></span> View documentation</a>
            </div>
        </div>
    </section>
{% endblock %}
