#blog {
  background-color: #EAEBEB;

  text-align: center;

  .row {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.post {
  margin-bottom: 15px;
  background-color: #FFF;
  border: 1px solid #dddddd;
  border-radius: 4px;
  text-align: left;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);

  .img-container {

    a {
      height: 200px;
      width: 100%;
      display: block;
    }
  }

  .meta {
    padding: 15px;
    text-align: right;
  }

  .copy-container {
    padding: 0 15px 15px 15px;
  }

  a.link {
    display: block;
    border-top: 1px solid #dddddd;
    padding: 15px;

    span {
      transition: all 0.3s ease-in-out 0s;
      color: #ffffff;
      padding-left: 0;
    }

    &:hover {
      span {
        color: #333;
        padding-left: 5px;
      }
    }
  }
}