#blog {
  background-color: #EAEBEB;

  text-align: center;
}

.post {
  margin-bottom: 15px;
  background-color: #FFF;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  text-align: left;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);

  .img-container {

    a {
      height: 200px;
      width: 100%;
      display: block;
    }
  }

  .copy-container {
    padding: 15px;
  }
}