.row {
  &.feature {
    margin-top: 80px;
    margin-bottom: 80px;

    .description {
      padding: 20px 30px;
      text-align: left;

      &.no-figure {
        text-align: center;
      }

      h2 {
        margin-top: 0;
      }
    }

    figure {
      img {
        max-width: 100%;
        height: auto;
        border: 1px solid #DDD;
        border-radius: 4px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
      }

      figcaption {
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

/**
 * Media queries
 */
@media (max-width: 992px) {
  .row {
    &.feature {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}
