nav {
  &.navbar {
    transition: all 0.2s ease-in-out 0s;

    background-color: rgba(0, 0, 0, 0.65);

    &.transparent {
      background-color: rgba(0, 0, 0, 0.25);

      .navbar-brand {
        display: none;
      }
    }

    &.nav-visible {
    }

    &.nav-hidden {
      top: -55px;
    }
  }

  .navbar-toggle {

    .icon-bar {
      background-color: #888;
    }
  }

  .navbar-brand {
    font-weight: 500;
    color: #efefef;
    padding: 10px 15px;

    img {
      max-height: 100%;
    }
  }

  .nav {
    > li {
      > a {
        transition: none;

        color: #fff;
        &:hover, &:focus {
          background-color: transparent;
        }
      }

      &.active {
        > a {
          font-weight: 700;
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
}
