*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: "Raleway","Helvetica Neue",sans-serif;
  color: #828B90;
  overflow: auto;
}

.page-wrapper {
  min-height: 100%;
  margin: 0 auto -120px; /* the bottom margin is the negative value of the footer's height */
}

section {
  &.slide {
    width: 100%;
    max-width: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.pagination {
  font-size: 14px;
}

a {
  color: #828B90;
  transition: all 0.2s ease-in-out 0s;

  /* Default links */
  &:hover {
    color: #333;
    text-decoration: none;
    outline: none;
  }
  &:focus {
    color: #333;
    text-decoration: none;
    outline: none;
  }
  &:active {
    color: #333;
    text-decoration: none;
    outline: none;
  }

  /* Default buttons */
  &.btn {
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: 700;

    &:hover {
      color: #333;
      text-decoration: none;
      outline: none;
    }
    &:focus {
      color: #333;
      text-decoration: none;
      outline: none;
    }
    &:active {
      color: #333;
      text-decoration: none;
      outline: none;
    }
  }

  /* Context links and buttons */
  &.link-about {
    color: $about-color;
    &:hover {
      color: darken($about-color, 10%);
    }
    &:active {
      color: darken($about-color, 20%);
    }
    &:focus {
      color: darken($about-color, 20%);
    }
  }

  &.btn-about {
    color: #FFFFFF;
    background-color: $about-color;
    &:hover {
      color: #FFFFFF;
      background-color: darken($about-color, 10%);
    }
    &:active {
      color: #FFFFFF;
      background-color: darken($about-color, 20%);
    }
    &:focus {
      color: #FFFFFF;
      background-color: darken($about-color, 20%);
    }
  }

  &.link-blog {
    color: $blog-color;
    &:hover {
      color: darken($blog-color, 10%);
    }
    &:active {
      color: darken($blog-color, 20%);
    }
    &:focus {
      color: darken($blog-color, 20%);
    }
  }

  &.btn-blog {
    background-color: $blog-color;
    color: #FFFFFF;
    &:hover {
      background-color: darken($blog-color, 10%);
      color: #FFFFFF;
    }
    &:active {
      color: #FFFFFF;
      background-color: darken($blog-color, 20%);
    }
    &:focus {
      color: #FFFFFF;
      background-color: darken($blog-color, 20%);
    }
  }

  &.link-shuwee {
    color: $shuwee-color;
    &:hover {
      color: darken($shuwee-color, 10%);
    }
    &:active {
      color: darken($shuwee-color, 20%);
    }
    &:focus {
      color: darken($shuwee-color, 20%);
    }
  }

  &.btn-shuwee {
    color: #FFFFFF;
    background-color: $shuwee-color;
    &:hover {
      color: #FFFFFF;
      background-color: darken($shuwee-color, 10%);
    }
    &:active {
      color: #FFFFFF;
      background-color: darken($shuwee-color, 20%);
    }
    &:focus {
      color: #FFFFFF;
      background-color: darken($shuwee-color, 20%);
    }
  }
}
