*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 14px/1.625;
  font-family: "Raleway","Helvetica Neue",sans-serif;
  color: #828B90;
  overflow: auto;
}

.page-wrapper {
  min-height: 100%;
  margin: 0 auto -130px; /* the bottom margin is the negative value of the footer's height */
}

section {
  &.slide {
    width: 100%;
    max-width: none;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

a {
  color: #828B90;
  transition: all 0.2s ease-in-out 0s;

  /* Default links */
  &:hover {
    color: #333;
    text-decoration: none;
    outline: none;
  }
  &:focus {
    color: #333;
    text-decoration: none;
    outline: none;
  }
  &:active {
    color: #333;
    text-decoration: none;
    outline: none;
  }

  /* Default buttons */
  &.btn {
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    font-weight: 700;

    &.btn-default {
      color: #828B90;
      background-color: #FFF;
      &:hover {
        background-color: darken(#FFF, 10%);
      }
      &:active {
        background-color: darken(#FFF, 20%);
      }
    }
  }

  /* Context links and buttons */
  &.link-about {
    color: #333;
    &:hover {
      color: darken(#5CB85C, 10%);
    }
    &:focus {
      color: darken(#5CB85C, 20%);
    }
    &:active {
      color: darken(#5CB85C, 20%);
    }
  }

  &.btn-about {
    color: #FFFFFF;
    background-color: #5CB85C;
    &:hover {
      background-color: darken(#5CB85C, 10%);
      color: #FFFFFF;
    }
    &:active {
      background-color: darken(#5CB85C, 20%);
      color: #FFFFFF;
    }
  }

  &.link-blog {
    color: #333;
    &:hover {
      color: darken(#0FA2CE, 10%);
    }
    &:focus {
      color: darken(#0FA2CE, 20%);
    }
    &:active {
      color: darken(#0FA2CE, 20%);
    }
  }

  &.btn-blog {
    color: #FFFFFF;
    background-color: #0FA2CE;
    &:hover {
      background-color: darken(#0FA2CE, 10%);
      color: #FFFFFF;
    }
    &:active {
      background-color: darken(#0FA2CE, 20%);
      color: #FFFFFF;
    }
  }

  &.link-shuwee {
    color: #333;
    &:hover {
      color: darken(#4078C0, 10%);
    }
    &:focus {
      color: darken(#4078C0, 20%);
    }
    &:active {
      color: darken(#4078C0, 20%);
    }
  }

  &.btn-shuwee {
    color: #FFFFFF;
    background-color: #4078C0;
    &:hover {
      background-color: darken(#4078C0, 10%);
      color: #FFFFFF;
    }
    &:active {
      background-color: darken(#4078C0, 20%);
      color: #FFFFFF;
    }
  }


}
