<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{% block page_title %}Wanjee - Web artisan{% endblock %}</title>
    <meta name="description" content="{% block page_description %}{% endblock %}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/vendors.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.min.css') }}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,700,800">
    {% endblock %}
</head>

<body data-spy="scroll" data-target="#navigation-main" class="{% block body_class %}{% endblock %}">

{% include 'partial/navbar.html.twig' %}

<div class="page">
    {% block content %}{% endblock %}
</div>

{% include 'partial/footer.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/vendors.min.js') }}"></script>
    <script src="{{ asset('js/app.min.js') }}"></script>
{% endblock %}

</body>
</html>