<nav class="navbar navbar-fixed-top transparent">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#hero">
                <img src="logo.png" class="img-responsive" alt="Wanjee">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navigation-main">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden active">
                    <a class="page-scroll" href="#hero"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#blog">Blog</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#shuwee">Shuwee</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>